<h1>About Blocitoff</h1>
<p>We aim to keep to-do lists manageable by automatically deleting to-do items that have not been completed after seven days. The hypothesis is that if the to-do item is not important enough to be completed in seven days, it doesn't belong on your to-do list.</p>

<%= link_to "We're Open Source", "https://github.com/ADude2/blocitoff", class: "btn btn-primary" %>