<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="jumbotron text-center">
        <h2>Blocitoff</h2>
        <p class="small">The To-Do List with a twist</p>
        <%= link_to "Sign Up", "#", class: "btn btn-primary btn-md btn-block" %>
      </div>
    </div>
  </div>
</div>